<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atharva.atharvatpo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tpo_logo"
        android:label="ATHARVA TPO"
        android:roundIcon="@drawable/tpo_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.atharva.atharvatpo.EditProfileActivity"></activity>
        <activity android:name="com.atharva.atharvatpo.CompanyDetailsActivity" />
        <activity android:name="com.atharva.atharvatpo.StudentDetailsActivity" />
        <activity android:name="com.atharva.atharvatpo.ForgotPassword" />
        <activity android:name="com.atharva.atharvatpo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.atharva.atharvatpo.RegisterActivity" />
        <activity android:name="com.atharva.atharvatpo.LoginActivity" />
        <activity
            android:name="com.atharva.atharvatpo.StartActivity"
            android:label="startActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.atharva.atharvatpo.AddJobActivity" />
    </application>

</manifest>